build_rel/*
build_rel_w_dbg/*
build_dbg/*
build_test/*
build_benchmark/*
build_tmp/*
build_install/*
build/*
*.bin
test/*.coords
test/*.datsets
test/*.desc
test/*.overlays
test/*.prefix_sums
test/*.points
test/*.tsv
test/*.html
stxxl.errlog
stxxl.log
overlays.html
libsps.pdf
slurm_*
core.*
callgrind.out.*
settings.json
*.prof
*.pyc
perf.data
perf.data.old
*.egg-info
libbiosmoothercpp*.so
*.pyd
build/*
test/test_data/*
*.pickle
*.shelf.dat
*.shelf.dir
*.shelf.bak
dist/*
wheelhouse/*
*.backup
benchmarking/pics/*
libSps/*